<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/TrabalhoJAVA2016-1-1/src/me/polles/Execute.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/java"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="me.polles.Execute"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TrabalhoJAVA2016-1-1"/>
</launchConfiguration>
